html, body {
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
    float: left; 
}

body {
    /* position: relative;  */
    display: flex; 
    flex-direction: column; 
    background: #242d36; 
    color: white; 
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; 
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
	background-color: #2b3641; 
} 
::-webkit-scrollbar {
    width: 10px; 
	background-color: #2b3641; 
}
::-webkit-scrollbar-thumb {
    background-color: #1b2229; 
	/* border: 2px solid #555555;  */
} 

#loadingModal {
    position: absolute; 
    display: flex; 
    /* display: none;  */
    justify-content: center;
    align-items: center; 
    /* padding: 0 20px;  */
    width: 100%; 
    height: 100%; 
    background: #242d36; 
    z-index: 100; 
}
#loadingModalContent {
    padding: 30px; 
}
#loadingModalSpinner {
    margin-left: auto; 
    margin-right: auto; 
    width: 100px; 
    height: 100px; 
    border: 10px solid rgb(43, 54, 65); 
    border-top: 10px solid rgb(53, 64, 75); 
    border-radius: 50%; ;
    animation: spin 1s linear infinite; 
    -webkit-animation: spin 1s linear infinite; 
    -moz-animation: spin 1s linear infinite; 
}

#titleHeader {
    display: flex; 
    align-items: center;
    margin: 0; 
    padding: 0; 
    background: rgb(43, 54, 65); 
    z-index: 10; 
} 
#titleHeader h1 {
    margin: 0; 
    padding: 15px; 
    width: fit-content; 
    font-size: 2.5rem; 
    font-weight: 700; 
    background: rgb(43, 54, 65); 
    cursor: pointer; 
    transition: all 0.3s ease; 
} 
#titleHeader h1:hover {
    background: rgb(53, 64, 75); 
}

#roomName {
    margin: 15px; 
    padding: 0; 
    /* background: rgb(43, 54, 65);  */
    color: #a0a0a0; 
}

#appContainer {
    position: relative; 
    display: flex; 
    width: 100%; 
    height: 100%; 
}

#sideBar {
    padding: 10px 0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    float: left; 
    width: 25vw; 
    height: auto; 
    background: #1e262d; 
    overflow: hidden; 
    transition: all 0.2s ease; 
}

#sideBar:hover + #msgContainer {
    width: 75vw; 
    transition-delay: 0.2s; 
} 
#sideBar:hover #roomList {
    opacity: 1; 
    transition: all 0.2s ease; 
    transition-delay: 0.2s; 
}

#roomList {
    margin: 5px 15px; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
    opacity: 0; 
    overflow: hidden; 
    list-style: none; 
    transition: all 0.2s ease; 
}

#roomList li {
    margin: 10px; 
    padding: 15px; 
    width: auto; 
    background: #1e262d; 
    cursor: pointer; 
    border-radius: 15px; 
    transition: all 0.2s ease; 
} 

#roomList li:hover {
    background: #2b3a45; 
} 

.activeRoom {
    background: #2b3a45 !important;  
}
.activeRoom:hover {
    background: rgb(38, 53, 64) !important;  
}

#msgContainer {
    position: absolute; 
    right: 0; 
    width: 95vw; 
    height: 100%; 
    background: #242d36; 
    /* box-shadow: -10px 0px 10px 0 rgba(15, 15, 15, 0.3); */
    transition: all 0.2s ease; 
}

#msgList {
    margin: 0; 
    padding: 10px 20px; 
    max-height: 70vh; 
    overflow-y: auto;
    overflow-x: hidden; 
    list-style: none; 
}

#msgList li {
    margin-left: 10px; 
    padding: 0; 
} 
#msgList li p {
    /* height: auto;  */
    display: inline; 
    word-wrap: break-word; 
    line-height: 1.3rem; 
}

.msgTimestamp {
    margin: 5px; 
    padding: 5px; 
    display: inline; 
    width: fit-content; 
    text-align: center; 
    font-size: 0.7rem; 
    color: #a0a0a0; 
    white-space: nowrap; 
}
.msgUsername {
    margin: 20px 0 5px 0; 
    padding: 5px 10px; 
    width: fit-content; 
    font-weight: 900; 
    background: #1e262d; 
    border-radius: 5px; 
}

#inputContainer {
    position: absolute; 
    display: flex; 
    align-items: flex-end;
    width: 100%; 
    bottom: 0; 
} 

#msgBox {
    padding: 15px; 
    width: 100%; 
    height: auto; 
    max-height: 25vh; 
    overflow: auto; 
    font-family: inherit; 
    font-size: 15px; 
    color: white; 
    background:#2b3641; 
    border: none; 
    outline: none; 
    resize: none; 
    border-radius: 0 10px 0 0; 
    transition: all 0.2s ease; 
    -webkit-transition: all 0.2s ease; 
} 
#msgBox::placeholder {
    color: #b3b3b3; 
    font-style: italic; 
}

#msgBox:hover {
    background: #303b48; 
}

#msgBox:focus {
    background: #3a4655; 
}

#sendBtn {
    padding: 15px; 
    /* max-height: 25vh;  */
    font-size: 15px;     
    color: white; 
    background:#262f39; 
    border: none; 
    transition: background 0.2s ease; 
}

#sendBtn:hover {
    background: #232b35; 
} 
#sendBtn:hover .heroIcon { 
    stroke: none; 
    fill: white; 
} 

[placeholder]:empty::before {
    content: attr(placeholder); 
    color: #b3b3b3; 
    font-style: italic; 
}

.heroIcon {
    width: 20px; 
    height: 20px; 
    margin: 0 5px; 
    stroke: white; 
    fill: none; 
} 

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 